.my-button {
    display: block;
    width: 217px;
    height: 46px;
    font-family: 'Suisseinl-Book';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -.03em;
    color: #181818;
    text-align: center;
    text-transform: lowercase;
    background: transparent;
    border: 1px solid #FAFAFA;
    padding: 2px;
    border-radius: 100px;
    position: relative;
    z-index: 17;
}

.my-button__inner-background {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.my-button__inner-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #587EA7;
    border-radius: 100px/30px;
    filter: blur(17px);
    z-index: -1;
}

.back-button {
    display: inline;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -.02em;
    color: #9C9C9C;
    background: transparent;
}

@media (min-height: 500px) and (max-height: 645px) {
    .my-button {
        width: 190px;
        height: 39px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 88px;
    }
    
    .my-button__inner-background {
        border-radius: 88px;
    }
}
