/* Основной стиль для чекбокса */
.my-radio-btn {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    cursor: pointer;
}

.my-radio-btn__old {
    display: none;
}

.my-radio-btn__new {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #FFF; 
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s ease;
}

.my-radio-btn__old:checked + .my-radio-btn__new {
    background-color: #FFF;
}

.my-radio-btn__old:checked + .my-radio-btn__new::before {
    content: '';
    width: 6px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 4px;
    transition: transform 0.2s ease;
}

.my-radio-btn__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #FFF;
}

@media (max-height: 700px) {
    
}

@media (max-height: 645px) {

}

@media (max-height: 550px) {
    .my-radio-btn {
        margin-bottom: 11px;
    }
    
    .my-radio-btn__new {
        width: 12px;
        height: 12px;
    }
    
    .my-radio-btn__old:checked + .my-radio-btn__new::before {
        content: '';
        width: 6px;
        height: 10px;
        top: -2px;
        left: 2px;
    }
    
    .my-radio-btn__text {
        font-size: 12px;
    }
}
