/* ГЛАВНЫЙ ЭКРАН */
.main-page {
    padding: 103px 0px 0px 0px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -.03em;
    text-align: center;
    margin-bottom: 19px;
}
.main-page__texts {
    margin-bottom: 40px;
}
.main-page__pre-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-bottom: 17px;
}
.main-page__text {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}
.main-page__buttons {
    z-index: 10;
}
.main-page__button {
}
.main-page__button .my-button__inner-background::after {
    content: '';
    background: transparent;
}
.page-img__wrap {
    position: absolute;
    bottom: -10px;
    width: 338px;
    height: 292px;
}
.page-img__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-img__background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main-page__background-img-1 {
    position: absolute;
    max-width: 46px;
    top: 26px;
    left: 1px;
}
.main-page__background-img-2 {
    position: absolute;
    max-width: 65px;
    top: 6px;
    right: 13px;
}
.main-page__background-img-3 {
    position: absolute;
    max-width: 41px;
    top: 248px;
    right: 74px;
}

@media (max-height: 700px) {
    .main-page {
        padding: 93px 0px 0px 0px;
    }
    .page-img__wrap {
        width: 324px;
        height: 270px;
    }
    .main-page__background-img-3 {
        top: 242px;
        right: 50px;
    }
}

@media (max-height: 645px) {
    .page-img__wrap {
        width: 312px;
        height: 259px;
    }
}

@media (max-height: 550px) {
    .main-page {
        padding: 79px 0px 0px 0px;
    }
    .main-page__title {
        font-size: 45px;
        margin-bottom: 22px;
    }
    .main-page__texts {
        margin-bottom: 20px;
    }
    .main-page__pre-title {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .main-page__text {
        font-size: 8px;
    }
    .page-img__wrap {
        width: 246px;
        height: 203px;
    }
    .main-page__background-img-1 {
        max-width: 41px;
    }
    .main-page__background-img-2 {
        max-width: 52px;
        right: 27px;
    }
    .main-page__background-img-3 {
        max-width: 30px;
        top: 228px;
        right: 45px;
    }
}



.inner-page {
}
.inner-page__container {
    overflow: visible;
}
.inner-page__body {
    padding-top: 42px;
    padding-bottom: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-page__title {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -.06em;
    text-align: center;
}
.inner-page__content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner-page__buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media (max-height: 700px) {

}
@media (max-height: 645px) {
    .inner-page__buttons {
        gap: 12px;
    }
}
@media (max-height: 550px) {
    .inner-page__buttons {
        gap: 10px;
    }
}


/* СТРАНИЦА ВЫБОРА ДИЗАЙНА */
.design-page {
    padding: 52px 0px 53px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.design__input {
    display: none;
}
.design__slider {
    max-width: 202px;
    max-height: 347px;
    position: relative;
}
.design__swiper {
    overflow: visible;
}
.design__swiper-wrapper {
}
.design__swiper-slide {
    max-width: 202px;
}
.design__slide {
    padding: 2px;
    max-height: 347px;
    max-width: 202px;
}
.design__swiper-slide.swiper-slide-active .design__slide {
    border: 1px solid #FCFCFC;
    border-radius: 22px;
}
.design__slide-img-wrap {
    background: #FCFCFC;
    border-radius: 20px;
    height: 341px;
    width: 196px;
    padding: 5px;
    overflow: hidden;
}
.design__slide-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 18px;
}
.design__swiper-paginaton {
}
.design__swiper-navigation {
}
.design__swiper-button-prev {
}
.design__swiper-button-next {
}

@media (max-height: 700px) {
    .design-page {
        padding: 45px 0px 39px 0px;
    }
}
@media (max-height: 645px) {
    .design-page {
        padding: 30px 0px 22px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design__slider {
        max-width: 169px;
        max-height: 290px;
    }
    .design__swiper-slide {
        max-width: 290px;
    }
    .design__swiper-slide.swiper-slide-active .design__slide {
        border: 1px solid #FCFCFC;
        border-radius: 18px;
    }
    .design__slide {
        padding: 3px 1px;
        max-height: 290px;
        max-width: 169px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .design__slide-img-wrap {
        background: #FCFCFC;
        border-radius: 20px;
        height: 285px;
        width: 164px;
        padding: 5px;
        overflow: hidden;
    }
    .design__slide-img {
        border-radius: 15px;
    }
}


/* СТРАНИЦА ВЫБОРА ТЕКСТА */
.text-page {
    padding: 42px 0px 31px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-page__input {
    display: none;
}
.text-page__slider {
    max-width: 148px;
    max-height: 41px;
    position: relative;
}
.text-page__swiper {
    overflow: visible;
}
.text-page__swiper-wrapper {
}
.text-page__swiper-slide {
    max-width: 148px;
}
.text-page__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    max-width: 148px;
    max-height: 41px;
}
.text-page__swiper-slide.swiper-slide-active .text-page__slide {
    border: 1px solid #FAFAFA;
    border-radius: 14px;
}
.text-page__swiper-slide.swiper-slide-active .text-page__slide-text {
    color: #4C4B4B;
    background: #FAFAFA;
}
.text-page__slide-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PPEditorialNew';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -.02em;
    color: #FAFAFA;
    font-style: italic;
    border-radius: 12px;
    width: 100%;
    height: 37px;
    overflow: hidden;
}
.text-page__swiper-paginaton {
}
.text-page__swiper-navigation {
}
.text-page__swiper-button-prev {
}
.text-page__swiper-button-next {
}
.text-page__card {
    margin-top: 31px;
    max-width: 183px;
    max-height: 317px;
    padding: 4px;
    background: #FCFCFC;
    border-radius: 14px;
    position: relative;
}
.text-page__card-wrap-img {
    width: 173px;
    height: 308px;
    border-radius: 10px;
    overflow: hidden;
}
.text-page__card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-page__card-title {
    font-family: 'PPEditorialNew';
    font-size: 25px;
    font-style: italic;
    line-height: 90%;
    letter-spacing: -.02em;
    text-align: center;
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    width: 156px;
}

@media (max-height: 700px) {
    .text-page {
        padding: 42px 0px 31px 0px;
    }
    .text-page__card {
        margin-top: 25px;
        max-width: 166px;
        max-height: 288px;
    }
    .text-page__card-wrap-img {
        width: 158px;
        height: 281px;
    }
    .text-page__card-title {
        font-size: 26px;
        top: 48px;
        width: 150px;
    }
}

@media (max-height: 645px) {
    .text-page {
        padding: 32px 0px 26px 0px;
    }
}

@media (max-height: 550px) {
    .text-page {
        padding: 14px 0px 17px 0px;
    }
    .inner-page__body {
        padding-top: 32px;
        padding-bottom: 13px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-page__card {
        margin-top: 20px;
        max-width: 144px;
        max-height: 250px;
    }
    .text-page__card-wrap-img {
        width: 137px;
        height: 243px;
    }
    .text-page__card-title {
        font-size: 21px;
        top: 42px;
        width: 132px;
    }
}


/* СТРАНИЦА ВЫБОРА НОМИНАЛА */
.amount-page {
    padding: 62px 0px 79px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amount-page__price-input {
    display: none;
}
.amount-page__prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
}
.amount-page__price-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}
.amount-page__price-button {
    width: 105px;
    height: 81px;
    border-radius: 10px;
    padding: 1px;
    overflow: hidden;
    background: transparent;
}
.amount-page__price-button-inner-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 106%;
    color: #000;
    background: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
}
.amount-page__price-button.active {
    border: 1px solid #FAFAFA;
}
.amount-page__price-button.active .amount-page__price-button-inner-background {
    color: #FAFAFA;
    background: #9C69C0;
}
.amount-page__price-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.02em;
    text-align: center;
}
.amount-page__descriptions {
    width: 100%;
}
.amount-page__description {
    padding: 10px 0px;
    border-top: 1px solid #9C9C9C;
}
.amount-page__description:last-child {
    padding-top: 14px;
}
.amount-page__description-item {
    display: flex;
    justify-content: space-between;
}
.amount-page__description-item:not(:last-child) {
    margin-bottom: 4px;
}
.amount-page__description-item-text {
    font-size: 12px;
    line-height: 16px;
}
.amount-page__description-item-img-wrap {
    display: inline-block;
    margin-left: 4px;
    max-height: 11px;
    max-width: 10px;
}
.amount-page__description:last-child .amount-page__description-item-text {
    font-size: 16px;
    line-height: 16px;
}

@media (max-height: 700px) {
    .amount-page {
        padding: 62px 0px 48px 0px;
    }
}

@media (max-height: 645px) {

}

@media (max-height: 550px) {
    .amount-page {
        padding: 40px 0px 28px 0px;
    }
    .amount-page__prices {
        margin-bottom: 31px;
    }
    .amount-page__price-buttons {
        margin-bottom: 17px;
    }
}


/* СТРАНИЦА ВВОДА ВАШИХ ДАННЫХ */
.data-page-one {
    padding: 55px 0px 143px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-page-one__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
}
.data-page-one__title-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -.06em;
}
.data-page-one__title-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -.06em;
    color: #9C9C9C;
}
.data-page-one__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-page-one__input {
}
.data-page-one__select-wrapper {
    margin-bottom: 23px;
}
.data-page-one__checkbox {
}
.data-page-one__checkbox:last-child {
    margin-bottom: 0px;
}

@media (max-height: 700px) {
    .data-page-one {
        padding: 55px 0px 94px 0px;
    }
}

@media (max-height: 645px) {

}

@media (max-height: 550px) {
    .data-page-one {
        padding: 35px 0px 32px 0px;
    }
}


/* СТРАНИЦА ВВОДА ДАННЫХ ПОЛУЧАТЕЛЯ */
.data-page-two {
    padding: 55px 0px 217px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-page-two__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
}
.data-page-two__title-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -.06em;
}
.data-page-two__title-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -.06em;
    color: #9C9C9C;
}
.data-page-two__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-page-two__input {
}
.data-page-two__select-wrapper {
    margin-bottom: 0px;
}

@media (max-height: 700px) {
    .data-page-two {
        padding: 55px 0px 177px 0px;
    }
}

@media (max-height: 645px) {

}

@media (max-height: 550px) {
    .data-page-two {
        padding: 35px 0px 97px 0px;
    }
}


/* ЭКРАН ЗАГРУЗКИ */
.loading-page {
    padding: 145px 0px 0px 0px;
    height: 100%;
}
.loading-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.loading-page__title {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -.06em;
    text-align: center;
    margin-bottom: 24px;
    color: #FCFCFC;
}
.loading-page__img-wrap {
    width: 188px;
    height: 188px;
}
.loading-page__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.loading-page__img-wrap.float-animation {
    animation: 2s ease-in-out infinite floatLoadingPage;
}

.float-animation {
    animation: 2s ease-in-out infinite float;
}

@keyframes floatLoadingPage {

    0%,
    100% {
        transform: translateY(0) rotate(7deg);
    }

    50% {
        transform: translateY(-5px) rotate(7deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@media (max-height: 700px) {
    .loading-page__title {
        margin-bottom: 13px;
    }
}

@media (max-height: 645px) {

}

@media (max-height: 550px) {
    .loading-page {
        padding: 133px 0px 0px 0px;
    }
    .loading-page__title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .loading-page__img-wrap {
        width: 170px;
        height: 170px;
    }
}


.final-page {
    padding: 62px 0px 24px 0px;
}
.final-page__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.final-page__card {
    margin-bottom: 28px;
    width: 251px;
    height: 437px;
    padding: 5px;
    background: #FFF;
    border-radius: 18px;
    position: relative;
}
.final-page__card-inner {
    overflow: hidden;
    border-radius: 14px;
}
.final-page__card-content {
    position: relative;
    overflow: hidden;
    border-radius: 14px;
}
.final-page__card-wrap-img {
    width: 100%;
    height: 100%;
}
.final-page__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.final-page__card-title {
    font-family: 'PPEditorialNew';
    font-style: italic;
    font-size: 31px;
    line-height: 90%;
    letter-spacing: -.02em;
    text-align: center;
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
}
.final-page__card-price {
    position: absolute;
    bottom: 112px;
    right: 41px;
    display: flex;
    gap: 2px;
}
.final-page__card-price-text {
    font-family: 'RoslindaleCyrillicDeckNarrow';
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: #4C4B4B;
}
.final-page__card-price-ruble {
    max-width: 10px;
    max-height: 13px;
}
.final-page__card-price-ruble svg {
    width: 100%;
    height: 100%;
}
.final-page__buttons {
    margin-bottom: 23px;
}
.final-page__button {
}
.final-page__button .my-button__inner-background {
}
.final-page__button .my-button__inner-background::after {
    height: 38px;
    background: #DDDDDD;
    top: auto;
    bottom: 0;
    filter: blur(9px);
}
.final-page__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

@media (max-height: 700px) {
    .final-page {
        padding: 55px 0px 24px 0px;
    }
    .final-page__card {
        margin-bottom: 26px;
        width: 228px;
        height: 397px;
        border-radius: 16px;
    }
    .final-page__card-wrap-img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .final-page__card-title {
        font-size: 27px;
        top: 51px;
        width: 181px;
    }
    .final-page__card-price {
        position: absolute;
        bottom: 98px;
        right: 31px;
        display: flex;
        gap: 2px;
    }
}

@media (max-height: 645px) {
}

@media (max-height: 550px) {
    .final-page {
        padding: 42px 0px 24px 0px;
    }
    .final-page__card {
        margin-bottom: 19px;
        width: 183px;
        height: 320px;
        padding: 4px;
        border-radius: 14px;
    }
    .final-page__card-wrap-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .final-page__card-title {
        font-size: 24px;
        top: 41px;
        width: 159px;
    }
    .final-page__card-price {
        bottom: 75px;
        right: 31px;
    }
    .final-page__card-price-text {
        font-size: 12px;
    }
    .final-page__card-price-ruble {
        max-width: 7px;
    max-height: 10px;
    }
    .final-page__buttons {
        margin-bottom: 16px;
    }
    .final-page__text {
        font-size: 10px;
    }
}
